@model Project14.ViewModels.AccountSecurityViewModel

@{
    ViewBag.Title = "修改密碼";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<h2 class="mt-4">🔐 修改密碼</h2>

@using (Html.BeginForm("ChangePassword", "Member", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OldPassword)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewPassword)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>

    <button type="submit" class="btn btn-primary">修改密碼</button>
}

@if (!string.IsNullOrEmpty(ViewBag.Message as string))
{
    <div class="alert alert-info mt-3">@ViewBag.Message</div>
}